<div class="modal-content bg-white">
  <div class="modal-header">
    <h4 class="modal-title text-center">Add Batch Records</h4>
    <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div style="background-color: #eceff1">
    <div class="row mx-auto pt-1">
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <select class="form-control" id="floatingInput" #field (change)="filter(field.value)">
            <option value=""></option>
            <option *ngFor="let item of changeFiledNames" [ngValue]="item">
              {{ item }}
            </option>
          </select>

          <label for="floatingInput">Select Changing Name</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-1">
          <select class="form-control" id="floatingInput" [(ngModel)]="selectedBatchValue2">
            <option value="notselected"></option>
            <option *ngFor="let batchItem of batchValues" [ngValue]="batchItem.id">
              {{ batchItem.name }}
              <ng-container *ngFor="let meterItem of MeterClasses">
                {{ meterItem.inputCategory }} - {{ meterItem.inputValues }}
              </ng-container>
            </option>
            <!-- <option *ngFor="let item of MeterClasses" [ngValue]="item.inputCategory">
              {{ item.inputValues }}
            </option> -->
          </select>
          <label for="floatingInput">Select Batch Values</label>
        </div>
      </div>
    </div>
    <div class="row mx-auto pt-1">
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <select class="form-control" id="floatingInput" #search (change)="searcFilter(search.value)">
            <option value=""></option>
            <option *ngFor="let item of searchBy" [ngValue]="item">
              {{ item }}
            </option>
          </select>

          <label for="floatingInput">Search by group</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-1">
          <select class="form-control" id="floatingInput" #ketena (change)="SearchCustomer(search.value, ketena.value)">
            <option value="notselected"></option>
            <option *ngFor="let batchItem of batchValues" [ngValue]="batchItem.id">
              {{ batchItem.name }}
              <ng-container *ngFor="let meterItem of MeterClasses">
                {{ meterItem.inputCategory }} - {{ meterItem.inputValues }}
              </ng-container>
            </option>
            <!-- <option *ngFor="let item of MeterClasses" [ngValue]="item.inputCategory">
              {{ item.inputValues }}
            </option> -->
          </select>
          <label for="floatingInput">Select search Values</label>
        </div>
      </div>

      <div class="col-lg-12 text-end">
        <div class="col-lg-3 text-end">
          <div class="input-group">
            <input
              type="text"
              class="form-control focus-green"
              [(ngModel)]="searchText"
              (input)="filterInterfaces()"
              placeholder="Search Single customer ..."
            />
          
          </div>
        </div>
      </div>
    </div>
    <div class="mail-content mx-3 table-responsive tab-content">
      <!-- <div class="card-body "> -->
      <table class="custom-table mt-3 bg-white mx-auto">
        <thead>
          <tr>
            <th>
              <input type="checkbox" (change)="handleCheckboxChange($event)" />
            </th>
            <th>Contract Number </th>
            <th>Customer Name</th>
            <th>Kebele</th>
            <th>House Number</th>
            <th>Meter Number</th>
            <th>{{ selectedBatchValue }}</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody *ngIf="paginationCustomer.length > 0; else noResults">
          <tr *ngFor="let item of paginationCustomer; let i = index">
            <td>
              <input type="checkbox" [(ngModel)]="selectedRows[item.custId]" />
            </td>
            <td> {{ item.contractNo }} </td>
            <td> {{ item.customerName }} </td>
            <td> {{ item.kebele }} </td>
            <td>{{ item.houseNo }}</td>
            <td>{{ item.meterno }}</td>
            <td>{{ selectedBatchValue2 }}</td>
            <td>{{ item.meterStatus }}</td>
          </tr>
        </tbody>
        <ng-template #noResults>
          <tr>
            <td colspan="4" class="text-center text-danger font-weight-bold bg-light p-3">No results found</td>
          </tr>
        </ng-template>
      </table>

      <div class="card flex justify-content-center">
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="totlRecords"
          [rowsPerPageOptions]="[5, 10, 15]"
        ></p-paginator>
      </div>
      <div class="modal-footer p-3 pt-1">
        <button type="button" class="btn btn-outline-success" (click)="saveSelectedBatchValues()">Save</button>
      </div>
    </div>
  </div></div
>
